<div class="s-login-pg">
    <div class="s-login-pg-head">
        <div style="width:200px;"><s-logo></s-logo></div>
    </div>
    <form class="s-login-pg-form" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
        <input type="text"     placeholder="Username (demo)" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
        <input type="password" placeholder="Password (demo)" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
        <div>
            <button type="submit" class="btn btn-primary">LOG IN</button>
        </div>
        <div>
            <button type="button" (click)="onRegister()" class="btn btn-primary">REGISTER</button>
        </div>
    </form>
    <div class="s-login-pg-foot">
        <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
    </div>

</div>
