<!-- <mat-accordion>
  <div *ngFor="let item of tempUsersList">
    <div class="user-accept">
      <mat-expansion-panel 
                           (opened)="true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.firstName}} {{item.lastName}} 
          </mat-panel-title>
          <mat-panel-description>
            {{item.groupId}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="button-group">
          <mat-button-toggle-group style="margin-bottom: 15px;" name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="bold">Accept
                  <i class="material-icons">
                      edit
                  </i>
              </mat-button-toggle>
              <mat-button-toggle value="bold">Decline
                  <i class="material-icons">
                      delete_forever
                  </i>
                </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion> -->

<mat-card *ngFor="let item of tempUsersList" class="team-info">
    <mat-card-header>
      <mat-card-title>{{item.firstName}} {{item.lastName}} </mat-card-title>
      <mat-card-subtitle><span>Group: </span> {{item.groupId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <div class="button-group">
            <mat-button-toggle-group style="margin-bottom: 15px;" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="onAcceptUser(item)" value="bold">Accept
                    <i class="material-icons">
                        add
                    </i>
                </mat-button-toggle>
                <mat-button-toggle (click)="onDeclineUser(item)" value="bold">Decline
                    <i class="material-icons">
                        not_interested
                    </i>
                  </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
    </mat-card-actions>
  </mat-card>