<div class="s-register-pg">
        <div class="s-register-pg-head">
            <div style="width:200px;"><s-logo></s-logo></div>
        </div>
        <form class="s-register-pg-form" name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
            <input type="text"     placeholder="First Name" name="firstName" [(ngModel)]="model.firstName" #username="ngModel" required/>
            <input type="text"     placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName" #username="ngModel" required/>
            <input type="text"     placeholder="Group Name" name="groupId" [(ngModel)]="model.groupId" #username="ngModel" required/>
            <input type="text"     placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
            <div>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
            <div>
                <button type="button" (click)="onBack()" class="btn btn-primary">BACK</button>
            </div>
        </form>
        <div class="s-register-pg-foot">
            <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
        </div>
    
    </div>